/*

Projekt Zespolowy 2015

- Tytul: GetSocial
- Sklady grupy:
	- Filip Jaszczuk
	- Mateusz Jerzyk
	- ..
	- ..
- Opiekun: Marek Piasecki
- Opiekun biznesowy: Capgemini

- Autor pliku: Filip Jaszczuk

*/

body {
	font-family: 'Open Sans',Helvetica;
	font-size: 14px;
	background: #f5f5f5;
}

.accent-color {
	color: #26C3B8;
}

	.accent-bg-color {
		background-color: #26C3B8;
	}
	
/* Typography */

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
	color: #363636;
	margin-bottom: 20px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
	padding-top: 60px;
}

p {
	/*margin-bottom: 20px;*/
	color: #888;
	font-size: 15px;
	max-width: 700px;
	line-height: 1.36em;
}

a {
	text-decoration: none;
	color: #27CFC3;
}

/* Page Header */

header {
	background: #213035;
	height: 50px;
	position: fixed;
	display: block;
	width: 100%;
	top: 0;
	line-height: 50px;
	z-index: 2;
}

	header:after {
		content: "";
		clear: both;
		display: block;
	}

	header > div:first-child {
		float: left;
		padding-left: 25px;
	}
	
		header > div:first-child h1 {
			color: #fff;
			font-size: 24px;
			-webkit-font-smoothing: antialiased;
		}
	
		header > div:first-child span {
			color: #26C3B8;
			font-weight: normal;
			-webkit-font-smoothing: subpixel-antialiased;
		}
	
	header > div:last-child {
		float: right;
		font-weight: 300;
		font-size: 13px;
		padding-right: 25px;
	}
	
		header > div:last-child:after,
		header li.user-panel a:after {
			display: block;
			content: "";
			clear: both;
		}
	
	header li {
		float: left;
		list-style: none;
	}
		header li a {
			color: #CACACA;
			display: block;
			transition: all .3s;
		}
		
		header li.user-panel a {
			padding: 0 10px;
			height: 50px;
		}
		
			header li a:hover {
				background-color: #26C3B8;
				color: #fff;
			}
		
		header li.user-panel a > div {
			float: left;
		}
		
		header li.user-panel .user-avatar {
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			width: 36px;
			height: 36px;
			margin-top: 7px;
			margin-right: 12px;
		}
		
		header li.logout a {
			font-size: 18px;
			padding: 0 10px 0 14px;
		}

/* Page Content */

body > div > section {
	margin-top: 50px;
	min-height: 600px;
	position: relative;
}

/* Page Navigation */

section > div:first-child {
	position: absolute;
	left: 0;
	width: 240px;
	top: 0px;
	background: #303B4A;
	padding: 30px 0px;
	font-weight: 300;
	font-size: 15px;
}

	section > div:first-child li {
		list-style: none;
	}
	
	section > div:first-child li a {
		padding: 10px 25px;
		display: block;
		transition: all .3s;
		color: #fff;
		position: relative;
	}
	
		section > div:first-child li a i {
			opacity: 0.4;
			font-size: 18px;
			width: 25px;
			transition: opacity .3s;
		}
	
	section > div:first-child li a:hover,
	section > div:first-child li.current-page a {
		background: #26C3B8;
	}
	
		section > div:first-child li.current-page a:before {
			content: "";
			display: block;
			width: 0; 
			height: 0; 
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;				
			border-right: 12px solid #f5f5f5;
			position: absolute;
			right: 0;
			top: 6px;
		}
		
		section > div:first-child li a:hover i,
		section > div:first-child li.current-page a i {
			opacity: 1;
		}
		
		/* Submenu */
		
		section > div:first-child li.has-submenu > a:after {
			font-family: FontAwesome;
			-webkit-font-smoothing: antialiased;
			content: "\f078";
			position: absolute;
			right: 15px;
			top: 13px;
			font-size: 12px;
			opacity: 0.85;
		}
		
		section > div:first-child .submenu {
			margin: 0;
			background: #242C37;
			padding: 6px 0;
		}
		
		section > div:first-child .submenu a {
			padding-left: 40px;
		}

/* Page Content */

section > div:last-child {
	padding: 30px 30px 30px 270px;
}

/* Grid layout */

.grid-item {
	float: left;
	margin-right: 2%;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.06);
	padding: 20px 25px;
	box-sizing: border-box;
	margin-bottom: 2%;
}

.grid-item.last {
	margin-right: 0;
}

	.grid-item.last:after {
		content: "";
		display: block;
		clear: both;
	}

.grid-item-10 {
	width: 100%;
}

	.grid-item-9 {
		width: 89%;
	}
	
	.grid-item-8 {
		width: 79%;
	}
	
	.grid-item-7 {
		width: 69%;
	}
	
	.grid-item-6 {
		width: 59%;
	}
	
	.grid-item-5 {
		width: 49%;
	}
	
	.grid-item-4 {
		width: 38%;
	}
	
	.grid-item-3 {
		width: 29%;
	}
	
	.grid-item-2 {
		width: 19%;
	}
	
	.grid-item-1 {
		width: 9%;
	}
	
/* Opinie */

.grid-opinie-pozytywne {
	border-top: 3px solid rgb(70, 186, 52);
}

.grid-opinie-negatywne {
	border-top: 3px solid rgb(244, 69, 69);
}

ul.opinie {
	margin: 0;
	font-weight: 300;
}

ul.opinie li {
	list-style: none;
	display: block;
	padding: 15px 20px 0px 20px;
	margin-bottom: 10px;
	color: #444;
	background: rgba(208, 208, 208, 0.1);
}

	ul.opinie li:last-child {
		margin: 0;
	}
	
		ul.opinie-pozytywne li p span {
			color: rgb(56, 161, 56);
			text-decoration: underline;
		}
	
		ul.opinie-negatywne li p span {
			color: rgb(210, 17, 17);
			text-decoration: underline;
		}
		
	ul.opinie .opinia-meta {
		line-height: 30px;
		font-size: 12px;
		margin-top: 10px;
		border-top: 1px solid rgba(0, 0, 0, 0.04);
		color: #999;
		font-weight: 300;
	}
	
		ul.opinie .opinia-meta:after {
			content: "";
			display: block;
			clear: both;
		}
	
		ul.opinie .opinia-meta > div {
			float: left;
			margin-right: 10px;
		}
		
		ul.opinie .opinia-meta span {
			color: #cacaca;
		}

/* Page Footer */

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	color: #fff;
	padding: 0 20px;
	font-size: 12px;
	color: #5F6E83;
	font-weight: normal;
}

/* Przyciski */

.button {
	-webkit-appearance: none;
	border-radius: 3px;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	background: #27CFC3;
	display: inline-block;
	border: 0px;
	line-height: 1em;
	padding: 14px 18px;
	cursor: pointer;
	transition: background-color .3s;
	-webkit-transition: background-color .3s;
	box-sizing: border-box;
	text-align: center;
	outline: 0;
}

	.button:hover {
		background: #444 !important;
	}
	
	.button:focus {
		background: #1c1c1c;
	}
	
	.button-red {
		background: rgb(219, 78, 78);
	}

/* Logowanie */

#login-window {
	width: 330px;
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	height: 300px;
	margin-top: -150px;
	margin-left: -165px;
	box-sizing: border-box;
}

	#register-window {
		width: 400px;
		margin: 0 auto;
		margin-top: 50px;
		height: auto;
		margin-bottom: 50px;
	}

	.login-window-inner {
		border-radius: 7px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		background: #fff;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.06);
		-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.06);
		padding: 30px;
	}

	.login-heading {
		font-size: 26px;
		color: #555;
		margin-bottom: 26px;
		padding: 0 30px;
		
	}
	
	.login-input-holder .login-text {
		width: 100px;
		padding: 14px 15px;
		margin-bottom: 15px;
		font-size: 15px;
		-webkit-font-smoothing: antialiased;
		box-sizing: border-box;
		outline: 0;
		-webkit-appearance: none;
		border: 1px solid #eee;
		width: 100%;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		transition: all .3s;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		color: #999;
	}
	
		.login-text:hover,
		.login-text:focus {
			background: #fafafa;
			color: #555;
		}
		
		
	.login-submit-holder {
		margin-top: 14px;
	}
		
		.login-submit-holder .button {
			width: 100%;
		}
		
		/*.login-submit-holder .button:last-child {
			float: right;
		}*/
		
	.login-window-copyright {
		font-size: 13px;
		color: #ddd;
		text-align: left;
		padding-left: 30px;
		padding-top: 20px;
	}
	
		.login-window-copyright a {
			color: #ccc;
			transition: color .3s;
		}
		
			.login-window-copyright a:hover {
				color: #27CFC3;
			}
			
			
	.login-window-error,
	.error-msg {
		background: rgb(236, 106, 106);
		padding: 18px 30px;
		margin-bottom: 15px;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		color: #fff;
	}
	
		.login-window-error ul {
			margin-bottom: 0px;
		}
	
/* Forms */

.form-item {
	margin-bottom: 10px;
}

input[type=text],
input[type=date],
input[type=file],
textarea {
	width: 300px;
	padding: 10px 13px;
	margin-bottom: 15px;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	outline: 0;
	-webkit-appearance: none;
	border: 1px solid #eee;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	transition: all .3s;
	color: #999;
}

	textarea {
		width: 600px;
		min-height: 200px;
	}

input[type="submit"] {
	width: 160px;
	margin: 0px;
}

	input[type="submit"]:hover,
	input[type="submit"]:focus {
		background-color: #26C3B8;
		color: #fff;
		cursor: pointer;
	}
	
	label {
		color: #777;
		margin-bottom: 12px;
		display: block;
	}
	
	.error-msg,
	.success-msg {
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
	}
	
	.success-msg {
		background: rgb(145, 210, 118);
		padding: 16px 28px;
		margin-bottom: 15px;
		border-radius: 4px;
		color: #fff;
	}
	
/* Tables */

table {
	font-size: 12px;
	color: #666;
	width: 100%;
	margin-bottom: 15px;
}

table thead {
	font-weight: bold;
	color: #444;
	font-size: 13px;
	line-height: 28px;
}

table td {
	padding: 4px 8px 4px 8px;
	border: 1px solid #eee;
	line-height: 1.35em;
}

table tr {
	transition: all .3s;
}

table tr:hover {
	background: #fafafa;
	color: #444;
}

	table .button {
		padding: 8px 16px;
		  font-size: 13px;
		  -webkit-font-smoothing: subpixel-antialiased;
		  width: auto;
		  border-radius: 5px;
		  margin-left: 7px;
	}
	
	select {
		  height: 29px;
		  /* line-height: 29px; */
		  border-radius: 4px;
		  background: #fff;
		  border:1px solid #ECECEC;
		  outline: none;
		margin: 6px 0;
	}
	
	.form-item select {
		width: 300px;
		height: 40px;
		font-size: 14px;
		color: #999;
		-webkit-font-smoothing: antialiased;
	}